$main-color: #fede22;
%transition-all {
  transition:all .4s ease-out;
}


.layout{position:relative;max-width:1300px;margin:0 auto;}
body{display: block;position:relative;height: 100%;}
#top_layout{position:absolute;left: 0;top: 0;}
#top_layout.on + .gnb_bg{display: block;}

#gnb_layout{
  display:block;position: fixed;top: 0;left:0;z-index: 999;width:100%;height: 100px;

  &:after{
      top:111px
  }
  
  #gnb {
    position: absolute;top:0px;left: 0;right: 0;width: 100%;height:100%;z-index:2;

    .layout{position:relative;text-align: center;}
    ul{
        display:inline-block;float:none;height:100%;z-index:14;
        &:after{
            display: block; content: ''; clear: both;
        }
      li{
        display:inline-block;height:100%;margin:0 -2px;vertical-align:top;

        &:first-child {
          >a{
            &:before{
                display:none;
            }
          }
        }
        a{
          position:relative;display:block;height:100%;padding: 0 20px 0;line-height: 99px;font-size: 1.1em;font-weight:600;letter-spacing:0;text-align:center;font-family: 'score';color: #000;
          @extend %transition-all;
          &:before{
            position: absolute;left:0;top:50%;width:1px;height: 17px;margin-top: -6.5px;background: #fff;content: '';
          }
        }
      }
    }
  }
}


#gnb_layout.action{position:relative;}
#gnb_layout.open{
    overflow: hidden;min-height: 100px;border-bottom: 2px solid #174572;

    &:before{
      display:block;position:absolute;top: 100px;bottom: 0;right: 50%;z-index: 01;width:100%;height: auto;margin-right: 390px;background: #f3f8fd;content:'';
    }
    &:after{
      position: absolute;top: 99px;bottom: 0;right:0;width: 100%;height:auto;background: #fefefe;content:"";
    }
    #gnb{
      border-bottom:1px solid #ccc;
      &:before{
        position:absolute;top:0;left:0;width:100%;height:100px;box-shadow:1px 1px 5px rgba(28,47,56,0.05);content:'';
      }
    }
}

#body_layout{position: relative;overflow: hidden;padding-top: 0;}

/*@include keyframes (move-bg) {
    0 {
     transform: translateY(0);
    }
    100% { 
     transform: translateY(-60%);
    }
}*/

#home{
    display: block;position:relative;height:100vh;padding: 210px 0 50px;box-sizing: border-box;
    em{
      display:block;margin-bottom: 10px;font-size: 1.4em;color:#fff;font-weight:bold;line-height: 1;
    }
    p{
      display:block;position:absolute;top:50%;left:50%;min-height: 50px;max-width:450px;font-size: 6.4em;color:#000;font-family: 'score';line-height: 1;font-weight: bold;transform:translateY(-50%);
    }
    p.txt1{margin-left:-530px}
    p.txt2{margin-left:60px}
    .bg{
      position:relative;
      .img{
        overflow: hidden;
        position:relative;
        z-index:1;
        width:332px;
        height:461px;
        margin: 0 auto;

        &:before{
          position: absolute;
          left:0;
          top:0;
          z-index: 1;
          width: 100%;
          height: 1444px;
          background: url(/assets/main.jpg);
          background-size: 100%;
          //@include animation ('move-bg 20s');
        }
        &:after{
          position: absolute;
          left:0;
          top:0;
          z-index: 1;
          width: 100%;
          height: 100%;
          background: #000;
          opacity:0.4;
        }
      }
    }
}



#about{
    padding:100px 0;

    ul{
        max-width: 900px;margin: 0 auto;
        &:after{
            display:block;clear:both;content:'';
        }

        li{
            float:left;width: calc(50% - 30px);min-height: 152px;margin-bottom: 40px;margin-right: 60px;

            &:nth-child(2n) {
                margin-top:40px;margin-right: 0;
            }

            strong{
              display:block;position: relative;margin-bottom:10px;font-size:30px;font-family: 'score';color: #000;line-height:1.3;
              &:before{
                position:absolute;left: -40px;top: -40px;z-index:-1;width:56px;height:65px;background: url('/assets/main_ir.png');background-size:auto 100%;content:'';
              }
            }
            p{
              color: #000;
              svg{width: 18px;height: 18px;margin-right: 5px;vertical-align:middle;}
            }
        }
        .item1{
          strong{
            &:before{
              background-position:0px 0;
            }
          }
        }
        .item2{
          strong{
            &:before{
              width:50px;
              background-position:-50px 0;
            }
          }
        }
        .item3{
          strong{
            &:before{
              background-position:-100px 0;
            }
          }
        }
        .item4{
          strong{
            &:before{
              background-position:-150px 0;
            }
          }
        }
    }
}

#projects{
  .box_wrap{
    position:relative;margin-top:42px;padding-left: 40%;

    .box{
      .link{
        display:block;width:100%;height:100%;
      }
      .thumb{
        overflow:hidden;position:relative;
        img{
          position:absolute;left:50%;top: 0;width: 100%;height: auto;max-height: none;transform: translate(-50%,0%);
        }
      }
      .txt{
        span{
          display:block;overflow: hidden;color:#293964;font-size: 1em;font-family: "score";font-weight: 100;
        }
        em{
          display: block;width:100%;margin-top: 15px;font-size: 17px;font-weight: bold;color: #293964;
          &:after{
            display:inline-block;width: 24px;height: 19px;margin-left: 15px;background: url('/assets/arr.png');vertical-align:middle;content:'';
          }
        }
      }
    }
    
    .list1{
      position:absolute;left: 0;top:0;width: 455px;

      .thumb{
        height: 240px;
      }
      
      > span{
        display:inline-block;font-size:154px;color: #e9eaef;line-height: 1;font-family: serif;vertical-align: middle;
      }
      .txt1{width: 310px;}
      .txt2{font-size:362px;}
      .box{
        height: 580px;width: 100%;margin-bottom: 29px;padding:33px;border:1px solid #ebebeb;
        .txt{
          position:relative;padding: 45px 0 0;padding-left: 70px;text-align: left;
          strong{display:block;font-size: 2em;color:#333333;line-height: 1;font-weight: bold;}
          span{
            position: absolute;left: 14px;padding: 0;line-height: 1.2;font-size: 1em;text-align: center;font-weight: 300;
            b{
              display:block;overflow: hidden;height: 33px;font-size: 3em;font-family: 'score';font-weight: bold;line-height: 1;letter-spacing: -0.1em;text-align: center;
            }
          }
          p{font-size:14px;color:#333333;letter-spacing:-0.05em}
        }
      }
    }

    .list2{
      display:flex;flex-wrap: wrap;flex-flow: row wrap;justify-content: space-between;
      &:after{
        display:block;clear:both;content:'';
      }
    }
    
    .list2 .box{
      flex: 1 1 45%;margin-right:23px;margin-bottom:26px;
      &:nth-child(3n){
        margin-right:0;
      }
      .link{
        display:block;width:100%;height:100%;padding:20px;border:1px solid #fff;
        &:hover,
        &:focus{border:1px solid #293964;}
        &:hover .txt span,
        &:focus .txt span{display:none;}
        &:hover .txt em,
        &:focus .txt em{display:block;}
      }
      .thumb{height:172px;}
      .txt{
        position:relative;overflow:hidden;padding: 27px 0 41px;text-align: center;
        strong{display:block;color: #333333;font-size: 1.3em;line-height: 1.2;}
        span{position: absolute;left: 50%;bottom: 5px;height: 25px;transform: translateX(-50%);color: #293964;text-align: left;}
        em{display:none;position:absolute;left:0;bottom: 10px;}
      }
    }
  }
  .box_wrap.fix .list1{position:fixed;left: 50%;top:0;margin-left:-650px;}
  .box_wrap.bottom .list1{top:auto;bottom:0;}
}





body.modal__open{overflow:hidden;height:100%;}
.modal{
  width:100%;height:100%;background:#fff;padding: 100px 50px;
  .modal__backdrop{
    display:none;
  }
  .modal__body{
    .modal__content{
      padding: 0;
      strong{display:block;margin: 3px 0 19px;border-radius: 43px;font-size: 3em;color: #000;font-weight: bold;vertical-align: top;line-height: 1;letter-spacing: -0.05em;font-family: 'score';}
      em{display: block;margin-bottom: 8px;font-size:1.1em;color:#000;font-weight: bold;}
      ul li{font-size:1.1em;color:#000;}
      .btn{
        width:100%;margin-top:40px;margin-bottom: 100px;padding: 0;text-align:center;
        box-shadow:none;
        a{
          display:inline-block;padding:0 15px;border:1px solid #415076;line-height:44px;font-size:15px;color:#293964;text-align: center;
          &:after{
            display:inline-block;width: 24px;height: 19px;background: url('/assets/arr.png');margin-left: 5px;vertical-align:middle;content:'';
          }
          img{
            display:inline-block;margin-left:5px;vertical-align:middle;
          }
        }
      }
    }
    
    .modal__close{
      position:absolute;right: 29px;top: 29px;width: 39px;height: 39px;transform: rotate(45deg);

      button{
        display:block;position:relative;width:100%;height:100%;font-size:0;
        &:before{position:absolute;left:50%;top:50%;width:100%;height: 2px;background:#4f4f4f;transform:translate(-50%,-50%);content:'';}
        &:after{position:absolute;left:50%;top:50%;height:100%;width: 2px;background:#4f4f4f;transform:translate(-50%,-50%);content:'';}
      }
    }
  }
}



#foot_layout{
    height: 50vh;padding: 50px 0;

    .tit{display: block;margin-bottom: 30px;font-size: 30px;color:#000;font-family: 'mont';line-height: 1.2;}
    p{
      color:#000;
      a{color:#000;}
    }
}

// Breakpoints
$breakpoint-pc: 1279px;
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 767px;

@mixin pc {
  @media (max-width: #{$breakpoint-pc}) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@include pc {
    .layout{
      padding:0 40px;
    }

    #projects{
      .box_wrap{
        padding-left: 450px;
      .list1{
        left:30px;
        .box{
          width:400px;height: auto;padding: 24px;
            .txt{
              padding: 30px 0 0;padding-left: 72px;
              p{font-size:12px;line-height: 1.2;}
            }
            .thumb{height: 260px;}
        }
          .txt1{width: 185px;font-size: 90px;}
          .txt2{font-size: 210px;}
      }
        
        .list2{
          .box{
            margin-right: 20px;margin-bottom: 20px;
            &:nth-child(3n){margin-right:23px;}
            &:nth-child(2n){margin-right:0;}
          }
        }
      }
      .box_wrap.fix .list1{left:30px;margin:0;}
    }
}
@include tablet {
  #home{
     p{font-size:4.5em}
     p.txt1{margin-left:-370px}
  }
  #projects{
      .box_wrap{
        padding-left: 315px;
        .list1{
          left:0;
          .box{
            width:300px;
            .thumb{height:200px;}
            .txt{
              p{font-size:12px;}
              strong{font-size: 1.6em;}
            }
          }
          .txt1{width: 145px;font-size: 70px;}
          .txt2{font-size: 150px;}   
        }
        .list2{
          .box{
             a{padding:10px;}
            .thumb{height:130px;}
            .txt span{font-size: 14px;}
          }
        }
      }
    }

}
@include mobile {
    .layout{padding: 0 25px;}
      
    #gnb_layout #gnb ul li a{padding:0 10px;}

    #home{
      padding-top: 40%;
      em{font-size:1em}
      p{font-size: 2.4em;}
      p.txt1{
        left:-20px;
        max-width: 100px;
        margin-left:0;
      }
      p.txt2{
        left:auto;
        right:-20px;
        max-width: 130px;
        margin-left:0;
      }
      .bg .img{width:80%;height:340px;max-width:300px;}
    }

    #about{
      ul{
        li{
          width:100%;margin: 0 0 40px;min-height: auto;
          &:nth-child(2n){
            width:100%;margin: 0 0 40px;min-height: auto;
          }
          strong{
            font-size:24px;
            &:before{
              left: -20px;top: -20px;width:50px;height:50px;
            }
          }
        }
        .item1 strong{
          &:before{
            width:40px;
          }
        }
        .item2 strong{
          &:before{
            width:35px;
            background-position:-43px 0;
          }
        }
        .item3 strong{
          &:before{
            width:34px;
            background-position:-78px 0;
          }
        }
        .item4 strong{
          &:before{
            width:44px;
            background-position:-116px 0;
          }
        }
      }
    }
    
    #projects{
      .box_wrap{
        padding:0;
        .box{
          .txt{
            span{margin-top: 5px;font-size: 13px;}
            em{margin-top: 5px;font-size:0.7em;}
          }
        }
        .list1{
          > span{display:none;}
          .box{
            width:100%;height:auto;padding: 10px;margin-bottom: 10px;
            .thumb{
              height:150px;
              &:after{width:40px;height:40px;background-size:100%;}
            }
            .txt{
              padding-top: 15px;padding-left: 58px;
              strong{font-size: 1.2em;}
              span b{height: 14px;font-size: 1.6em;}
            }
          }
        }
      
        .list2{
          .box{
            flex: 1 1 100%;margin: 0 0 10px;
            .thumb{height: 150px;}
            .txt{
              padding-top: 16px;padding-bottom: 0px;
              strong{font-size:1.2em}
              em{position:relative;bottom: auto;left: auto;margin-top: 10px;font-size: 0.7em;line-height: 1.2;}
              span{position: relative;bottom:0;left: auto;height: auto;margin: 0 0 6px;padding: 0;font-size: 0.7em;transform: none;line-height: 1.2;text-align: center;}
            }
          }
        }
      }
      .box_wrap .list1,
      .box_wrap.fix .list1,
      .box_wrap.bottom .list1{position: relative;left: auto;top: auto;width: 100%;} 
      
    }
    
    .modal{
      padding: 80px 30px;
      .modal__body{
        .modal__content strong{
          font-size: 2em;
        }
        .modal__close-button{
            span{
              width:50px;height:50px;
              &:before{left:50%;width:28px;height:1px;margin-top:0;margin-left:-14px}
              &:after{width:1px;height:28px;margin-top:-14px}
            }
          }
      }
    }
}

